<a href="/" class="back-button">About</a>

<style>
  .back-button {
    color: var(--text-secondary);
    text-decoration: none;
    font-size: 0.84rem;
    line-height: 1.7;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
  }

  .back-button:hover {
    color: var(--text-primary);
  }

  @media (max-width: 720px) {
    .back-button {
      text-align: left;
    }
  }
</style>
